.App {
  text-align: center;
}

.AppHeader {
  background: #46465c;
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
  color: white;

  .Container {
    width: 100%;
    max-width: 1280px;
    display: flex;
    padding: 0 24px;
    .User {
      width: 25%;
      display: flex;
      align-items: center;
      gap: 16px;
      .Circle {
        width: 24px;
        height: 24px;
        background-color: red;
        border-radius: 50%;
      }
    }
    .Title {
      width: 50%;
      text-align: center;
    }
  }
}

@media (max-width: 800px) {
  .AppHeader .Container {
    justify-content: space-between;
    .User,
    .Title {
      width: auto;
    }
  }
}

@media (max-width: 450px) {
  .AppHeader .Container .Title {
    display: none;
  }
}
